/** @format */

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling for the .nav and navigation */
.nav {
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.store-name {
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Cart icon styling */
.cart-icon i {
  color:#ffffff;
  font-size: 24px;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .nav {
      flex-direction: column;
      align-items: flex-start;
  }

  .store-name {
      margin-bottom: 10px;
  }

  nav ul {
      flex-direction: column;
  }

  nav li {
      margin-right: 0;
      margin-bottom: 10px;
  }
}
